{% extends "layout.html.twig" %}

{% block content %}


    <div class="container"></div>
    <div class="offset-2 col-8 mt-5 mb-5">
        <p>Si vous vous sentez capable vous pouez rejoindre notre réseau, il vous suffit de répondre à quelques questions et
            de nous envoyer quelques photos :</p>
    </div>
        <form action="/Api/Validation" method="" enctype="multipart/form-data">


            <div class=" offset-4 col-4 mb-3 ">
                <label>Votre Nom</label><br>
                <input>
            </div>
            <div class="  offset-4 col-4 mb-3  ">
                <label>Nom de tueur</label><br>
                <input><br>
            </div>
            <div class=" offset-4 col-4 mb-3 ">
                <label>Votre Niveau</label><br>
                <input><br>
            </div>
            <div class="offset-4 col-4 mb-3">
                <label>Votre spécialité</label><br>
                <input><br>
            </div>
            <div class="offset-4 col-4 mb-3">
                <label>Spécialité</label><br>
                <input><br>
                <div class="row  col-4 mt-3 mb-3">
                    <input class="mb-2" type="file" name="picture[]" multiple/>
                    <input type="submit" value="Send"/>
                </div>
            </div>
        </form>




{% endblock %}