{% extends 'layout.html.twig' %}

{% block content %}

    <form id="test" action="/Logout/logout" method="post"><input type="hidden" name="id"/>
        <button type="submit"  class="btn btn-danger">Ajouter au panier</button>
    </form>

{% endblock %}
