

{% for monster in monsters.monsters %}
    {{ monster.name }} {{ monster.id }}<br>
    <img src="{{ monster.picture }}" >

{% endfor %}
    <ul>
        {% for movie in contents.movies %}
            <li>{{ movie.title }}</li>
        {% endfor %}

    </ul>

{% block content %}
ggg
{% endblock %}