<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label for="inputVictimName">Victim Name</label>
        <input type="text" class="form-control" id="inputVictimName" placeholder="1234 Main St">
    </div>
    <div class="form-group">
        <label for="inputVictimAddress">Victim Address</label>
        <input type="text" class="form-control" id="inputVictimAddress" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
            <label for="inputParentalLink">Lien Parenté</label>
            <select id="inputPArentalLink" class="form-control">
                <option selected>Famille</option>
                <option>selected>Ami</option>
                <option>selected>Voisin</option>
                <option>selected>Cible aléatoire</option>
            </select>
        </div>
        <p>Tarif Horaire ou au Forfait </p>
        <div class="form-group col-md-4">
            <label for="inputDuration">Durée de l'Exécution</label>
            <select id="inputDuration" class="form-control">
                <option selected>Instantanée = 500€</option>
                <option>selected>Faire durer le plaisir = 450€ / heure</option>
                <option>selected>Torture interminable = Forfait 24 heures : 7200€</option>
            </select>
            <div class="input-group date" data-provide="datepicker">
                <label for="input-group date">Date de l'Exécution</label>
                <input type="text" class="form-control" name="Execution Date">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>
        <div></div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>


