{% extends 'layout.html.twig' %}

{% block content %}
    <form class="container">
        <div class="form-group">
            <input type="text" class="form-control" id="inputVictimName" placeholder="Victim Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="inputVictimAddress" placeholder="Victim Address">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputParentalLink">Type Victime </label>
                <select id="inputParentalLink" class="form-control">
                    <option selected>Famille</option>
                    <option selected>Ami</option>
                    <option selected>Voisin</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputDuration">Type de prestation </label>
                <select id="inputDuration" class="form-control">
                    <option selected>Assassinat</option>
                    <option selected>Peur bleue</option>
                    <option selected>Pour le plaisir</option>
                </select>
            </div>
            <div class="input-group date" data-provide="datepicker">
                <label for="input-group date">Date de l'Exécution</label>
                <input type="text" id="input-group date" class="form-control" name="Execution Date">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
{% endblock %}


