{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <section class="row">
            {% for movie in contents.movies %}
                <div class="col-xs-4 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ movie.posterUrl }}" class="card-img-top" alt="...">
                        <div class="card-body">

                            <h5 class="card-title">{{ movie.title | replace({'_': " "}) }}</h5>
                            <form id="test" action="/Getmovie/movieCookie" method="post"><input type="hidden"
                                                                                                    name="id"
                                                                                                    value="{{ movie.id }}"/>
                                <button type="submit" class="btn btn-danger">Choose your Movie</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}
