{% extends 'layout.html.twig' %}

{% block content %}

        {% for movie in contents.movies %}
            <img src="{{ movie.posterUrl }}">
            <li>{{ movie.title }}</li>
        {% endfor %}

{% endblock %}