{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-12">
    <h3 class="d-flex justify-content-center">Définissez votre budget et choisissez votre monstre !</h3>
    </div>
        <div class="col-12">
    <form class="form-inline d-flex justify-content-center border-0 mb-2 mt-2" method="post">
        <select class="form-control m-1" id="level" name="level">
            <option value="">Mon budget ...</option>
            <option value="1">500€</option>
            <option value="2">1000€</option>
            <option value="3">1500€</option>
            <option value="4">2000€</option>
            <option value="5">2500€</option>
            <option value="all">no limit !</option>
        </select>
        <button type="submit" class="btn btn-primary m-1">Rechercher</button>
    </form>
    </div>
</div>


    <div class="container mt-5">
    <section class="row">
    {% for monster in monsters.monsters %}
        <div class="col-sm-6 col-md-4">
            <div class="card mb-5">
                <img src="{{ monster.picture }}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column align-items-center">
                    <h5 class="card-title text-center">{{ monster.name }}</h5>
                    <p class="card-text text-center"><i>{{ monster.description }}</i></p>
                    <form id="test" action="/Getmonster/monsterCookie" method="post"><input type="hidden" name="id" value="{{ monster.id }}"/>
                        <button type="submit"  class="btn btn-danger">Ajouter au panier</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
        </section>
        </div>

{% endblock %}